 .one{
        border-style: solid;
        border-width: 1px;
        height: 350px;
        border-color: rgb(227, 224, 224);
        
       }     
       .two{
        font-size: 11px;
        color: gray;
        margin-left: 10px;
       }    
       .four{
       width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-top: 10px;
      
        
       } 
       .three{
        display: flex;
        margin-left: 10px;
     
       }
      .tech{
        width: 195px;
        font-weight: bold;
        font-family: arial;
        display: inline-block;
        margin-top: 7px;
        margin-left: 10px;
        margin-bottom: 23px;
        
      }
      .video{
        margin-top: -20px;
        margin-left: 10px;
        margin-bottom: 23px;
        width: 195px;
        font-weight: bold;
        font-size: 13px;
    
      }
      .video-netflix{
        margin-top: -20px;
        margin-left: 10px;
        margin-bottom: 23px;
        width: 250px;
        font-weight: bold;
        font-size: 13px;
      }
      .pm{
        margin-top: -60px;
        margin-left: 480px;
        font-size: 13px;
        color: gray;
      }
      
      .class{
        font-size: 13px;
        color: rgb(125, 121, 121);
        margin-left: 10px;
        line-height: 40px;

       
      }