body {
    /* This style below will be inherited */
    font-family: roboto, arial;
    margin:  0px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(243, 242, 242);
}
